<div class=arabic>
<hr class=horizontal>
<center>
<a id="chapter3"></a>
<h1 class=title>
الفصل الثالث : التعامل مع القوائم
</h1>
</center>
<hr class=horizontal>
</div>

<div class=arabic>
القوائم في لغة بايثون هي عبارة عن مجموعة من البيانات التي يشار اليها بمتغير واحد. وهي تعتبر وسيلة سهلة لتخزين البيانات قبل معالجتها اوتحليلها. ببساطة هي سلسلة من البيانات توضع بين قوسين مربعين يفصل بين كل بيان واخر بفاصلة كما في المثال التالي:
</div>

In [ ]:
months=['Jan','Feb','Mar','Apr','Jun','jul','Aug','Sep','Oct','Nov','Dec']

<div class=arabic>
كما يمكن انشاء قائمة فارغة باكثر من طريقة. فمثلا يمكن انشاء قائمة فارغة باستخدام قوسين مربعين فارغين بعد اسم المتغير كما في المثال التالي:
</div>

In [7]:
list1=[]

<div class=arabic>
كما يمكن انشاء قائمة فارغة باستخدام الدالة
()<font color="green">list</font>
 كما في المثال التالي:
</div>

In [18]:
mylist=list()

[1]

<div class=arabic>
 لاضافة بيانات لقائمة قارغة يمكن استخدام الامر 
()<font color="green">append</font>
. كما في المثال التالي:
</div>

In [20]:
list1=[]
list1.append('Sunday')
list1.append('Monday')
list1.append('Tuesday')
list1

['Sunday', 'Monday', 'Tuesday']

<div class=arabic>
لاحظ استخدام النقطة بعد اسم القائمة لتنفيذ الامر. فهي تعنى قم باضافة القيمة "Sunday" مثلا لللقائمة list1.

</div>

<div class=arabic>
كما يجب التنويه الى ان القوائم يمكن ان تحتوي على اكثر من نوع من البيانات فالقائمة التالية تحتوي على بيانات نصية وبيانات عددية وبيانات منطقية:
</div>

In [32]:
list2=['Ahmad',1990,True,23.5]

<div class=arabic>
يتم الاشارة الى مكان البيانات في القائمة بارقام صحيحة تسمى Index تبدا من الصفر. فالقائمة السابقة يشار الى القيمة الاولى فيها بالرقم 0 والقيمة الثانية بالرقم 1 وهكذا الى نهاية القيم في القائمة.
</div>

<table style="width:80%">
  
  <tr>
    <td border="0"><center>مؤشر القيمة</td>
    <td><center>0</td>
    <td><center>1</td>
    <td><center>2</td>
    <td><center>3</td>
  </tr>
  <tr>
    <td><center>القيمة</td>
    <td><center>"Ahmad</td>
    <td><center>1990</td>
    <td><center>True</td>
    <td><center>23.5</td>
  </tr>
  
</table>

<div class=arabic>
وللحصول على قيمة معينة من قائمة فاننا نقوم بكتابة اسم القائمة متبوعا بقوسين مربعين يوضع بينها رقم مؤشر القيمة. فعلى سبيل المثال عندما نريد القيمة الاولى من قائمة list2 السابقة فاننا نكتب الكود التالي:
</div>

In [33]:
list2[0]

'Ahmad'

<div class=arabic>
وعندما نريد القيمة الثالثة مثلا فاننا نكتب الامر التالي:
</div>

In [34]:
list2[2]

True

<div class=arabic>
كما يمكن الاشارة الى القيم في قائمة من اليمين الى اليسار او بمعنى اخر من اخر قيمة في القائمة. وللقيام بذلك نقوم باستخدم مؤشر سالب بين القوسين المربعين كما هو موضح في الجدول التالي:
</div>

<table style="width:80%">
  
  <tr>
    <td border="0"><center>مؤشر القيمة</td>
    <td><center>-4</td>
    <td><center>-3</td>
    <td><center>-2</td>
    <td><center>-1</td>
  </tr>
  <tr>
    <td><center>القيمة</td>
    <td><center>"Ahmad</td>
    <td><center>1990</td>
    <td><center>True</td>
    <td><center>23.5</td>
  </tr>
  
</table>

<div class=arabic>
 للحصول على أخر قيمة في القائمة list2 السابقة نكتب الامر التالي:
</div>

In [36]:
list2[-1]

23.5

<div class=arabic>
للحصول على القيمة قبل الاخيره في قائمة فاننا نستخدم الموشر 2- داخل القوسين المربعين و 3- للقيمة التي بعدها وهكذا لباقي القيم في القائمة.
</div>